<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <main>
            <section class="banner container">
                <div class="p-5 mb-4">
                    <picture>
                        <source srcset="../assets/images/banner" media="(min-width: 992px)">
                        <img src="../assets/images/banner-sm" alt="banner">
                    </picture>
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
                        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                        <button class="btn btn-primary btn-lg" type="button">Example button</button>
                    </div>
                </div>
            </section>
        </main>


        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>